.Profile {
  display: block;
  margin: 20px 0 0;
  padding: 0;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.Avatar {
  margin-bottom: 10px;
}
.NameTagLocation {
  margin: 0;
  padding: 10px;
}
.Stats {
  display: flex;
  justify-content: space-around;
  margin: 20px 25px;
  padding: 0;
  align-items: center;
  list-style: none;
  /* background-color: rgba(131, 137, 150, 0.4); */
  border-radius: 5px;
}
.StatsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 2px solid rgba(131, 137, 150, 0.9);
  box-shadow: inset 0px 0px 23px 32px rgba(148, 148, 163, 0.1);
}
.StatsItem:first-child {
  border-right: none;
}
.StatsItem:last-child {
  border-left: none;
}
